.dernieresPosts, .titrePosts, .resumePosts {
    text-align : left;
}

.imgPosts {
    float: left;
}

.readMoreInline {
    display: inline; 
    &:hover {
        text-decoration: none; 
    }
}

